.cadastro{
 position: absolute;
  width: 400px;
  height: 57px;
  left: 821px;
  top: 28px;

  font-family: Podkova;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;

  color: #000000;

  mix-blend-mode: normal;
}

.txt{
  vertical-align: bottom;
  font-family: Patua One;
  font-style: normal;
  font-weight: bolder;
  line-height: bolder;
  font-size: 13px;
}

.option{
  color: #000000;
  font-family: Patua One;
  font-style: normal;
  font-weight: bolder;
  line-height: bolder;
  font-size: 15px;
}

.espaco{
  height: 100px;
}
.cadas{
  color: #000000;
  font-family: Patua One;
  font-style: normal;
  font-weight: bolder;
  line-height: bolder;
  font-size: 65px;
  height: 490px;
}