.nav {
    background-color: #ED7207;
    height: 20px;
}

.coco{
    position: 20px;
    vertical-align: middle;
    
    font-family: Patua One;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    font-size: 37px;
    
    color: #7F3D04;

    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.input-field{
  position: relative;
}

.txt{
    color: #FFFFFF;
    font-size: 15px
}

.option2{
    color: #000000;
    font-family: Patua One;
    font-style: normal;
    font-weight: bolder;
    line-height: bolder;
    font-size: 15px;
  }
